* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    background: black;
  }
.contain{
 display: flex;
 flex-direction: row;
 align-items: center;
}
.title h1{
    margin-left: 1%;
   color: #00abf0;
}


.title{
   width: 100%;
}

.title li{
    color: #fff;
    list-style: none;
    margin-left: 10%;
    padding-top: 3%;
    
}
.title a{
    text-decoration: none;
    color:skyblue;
}
.title a:hover{
    color:#00abf0;
    box-shadow: 0 0 10px #00abf0;

}
 .contain img{
    width:80%;
    box-shadow: 0 0 50px #00abf0;
 }
 .contain{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
 }
 @media (max-width: 760px) {
    .contain {
      flex-direction: column; 
    }
  
    .title li {
      margin-left: 10%;
      text-align: left;
    }
    .contain img{
        margin-left: 10%;
    }
  }