*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@media (max-width: 740px) {
   *{
    background: black;
   }
    .head {
        position: relative;
        padding:20px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navi a{
        max-width: 100%;
        display: flex;
        flex-direction: column;
padding-top: 5%;
    }
    section.home {
       
        max-width: 100%;
        display: flex;
       flex-direction: column;
        margin-top: 80%;
        height: 0vh;
        background: linear-gradient(-90deg, black 100%, #00abf0 0%);
        padding: 0 0;
        margin-right: 0%;
    }

    .dubby {
        max-width: 100%;
    }

    .welcome h1,
    .welcome h3,
    .welcome p
     {
       max-width: 100%;
        text-align:left;
    }

    .welcome h1 {
        font-size: 3em;
    }

    .welcome h3 {
        font-size: 30px;
        background-position: 0 0;
        -webkit-text-stroke: 0.3px #fff;
    }
    .icon {
        max-width: 100%;
        text-align: center;
    }

   .welcom button{
    max-width: 100%;
    text-align: center;
   }

}

.head{
    position:fixed;
    top: 0%;
    left: 0%;
    width:100%;
    padding: 20px 10% ;
    display: flex;
    background-color:black;
justify-content: space-between;
align-items: center;
z-index:100;
}

.sai{
    font-size: 25px;
    color:#fff;
    text-decoration: none;
    font-weight: 700;
}

.navi a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navi a:hover,
.navi a.homy{
    color: #00abf0;
}
.home {
    height: 100vh;
    background: linear-gradient(-90deg, black 65%, #00abf0 35%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;

}

.dubby{
    width:300px;
    height:380px;
    background:black;
    border: 25px solid #00abf0;
    outline: 25px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome{
    max-width:60%;
    color: #fff;
    text-align: right;
}

.welcome h1{
    font-size: 55px;
    line-height: 1.2;
}
.welcome h3{
    font-size: 40px;
    color:transparent;
    -webkit-text-stroke:.5px #fff;
    background-image: linear-gradient(#00abf0,#00abf0);
    background-repeat: no-repeat;
    -webkit-background-clip:text;
    background-position:-410px 0;
    animation: anime 6s linear infinite;

}

@keyframes anime{
    0%,95%,100%{
        background-position:-410px 0;
    }
    65%,85%{
        background-position: 0 0;
    }
}


 .welcome p{
    font-size: 16px;
    margin-top: 20px;
 }

 .icon{
    margin: 25px 0 40px;
 }
 .icon a{
    display: inline-flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border:2px solid #fff;
    border-radius: 80%;
    font-size: 20px;
    text-decoration: none;
    margin-left: 12px;
    transition: 0.5s;
 }
 .icon img{
    height:30px;
    width:30px;
    border-radius:50%;
    background-color: #00abf0;
 }

 .icon a:hover{
    background: #00abf0;
    color: #fff;
    border-color: #00abf0;
    box-shadow: 0 0 10px #00abf0;
 }

 .button{
    padding: 12px 35px;
    background: #00abf0;
    border-radius: 40px;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow:0 0 10px #00abf0;
    transition: .5s;
 }

 .dubby img{
    
    position: relative;
    max-height:100%;
    height: 80%;
 }
